sudo: false
language: python
matrix:
  include:
    - python: 2.7
      env: 
        - TOXENV=py27
        - TOXENV=pep8
        - TOXENV=functional
    - python: 3.3
      env: TOXENV=py33
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36

cache: false

services:
  - mysql

before_install:
  - mysql -e "create database IF NOT EXISTS test;" -uroot

install:
  - pip install --upgrade pip
  - pip install tox

script:
  - export DATABASE_URI="mysql://root:@127.0.0.1:/test"
  - tox
